body {
    font-family: 'Droid Sans', sans-serif;
    background-color: rgb(117, 171, 101);
    margin: 6%;
    font-size: 100%;
}

.heading {
    display: flex;
    margin: 10px 0;
}

h1 {
    margin: 0 auto 0 0;
    font-size: 1.6em;
}

h2 {
    margin: auto 0 auto auto;
    font-size: 1.3em;
}

p {
    line-height: 1.4em;
    font-size: 1.0em
}

#no {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 100px;
}

#stats {
    /* display: flex; */
    font-size: 25px;
    justify-content: center;
    width: 100%;
    /* table-layout: fixed; */
}

tbody > tr > th {
    text-align: right;
    width: 50%;
    padding-right: 0.3em;
}

tbody > tr > th, td {
    padding-top: 5px;
    padding-bottom: 5px;
}

tbody > tr> td {
    padding-left: 0.3em;
    text-align: left
}
