<html>
  <head> 
    <title>ismyboatsinking</title>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/css.css">
  </head>
  <body>
    <div style="height:100%">
      <h1 id="no">NO</h1>
      <table id="stats">
        <tr>
          <th scope="row">Voltage:</th><td>{{status.v}} V</td>
        </tr>
        <tr>
          <th scope="row">Current:</th><td>{{status.cu}} mA</td>
        </tr>
        <tr>
          <th scope="row">Water Level:</th><td>{{status.w}} out of 4095</td>
        </tr>
        <tr>
          <th scope="row">Pump cycles in past 24 hours:</th><td>{{status.pc}}</td>
        </tr>
        <tr>
          <th scope="row">Pump run time in past 24 hours:</th><td>{{status.pt}} s</td>
        </tr>
      </table>
    </div>
  </body>
</html>
